%h1 QR Codes

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Content
      %th Download
      %th 
  %tbody
    - @quick_codes.each do |quick_code|
      %tr
        %td.col-lg-1.col-md-1.col-sm-1= quick_code.name
        %td.col-lg-6.col-md-4.col-sm-4= quick_code.content
        %td.col-lg-3.col-md-2.col-sm-2
          .btn-group
            = link_to "SVG", quick_code_path(quick_code, format: "svg"), class: 'btn btn-primary'
            = link_to "PNG", quick_code_path(quick_code, format: "png"), class: 'btn btn-primary'
            = link_to "GIF", quick_code_path(quick_code, format: "gif"), class: 'btn btn-primary'
            = link_to "JPG", quick_code_path(quick_code, format: "jpg"), class: 'btn btn-primary'
        %td.col-lg-2.col-md-2.col-sm-2
          .btn-group
            = link_to quick_code, class: 'btn btn-default' do
              %i.glyphicon.glyphicon-eye-open
            = link_to edit_quick_code_path(quick_code), class: 'btn btn-default' do
              %i.glyphicon.glyphicon-edit
            = link_to quick_code, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger' do
              %i.glyphicon.glyphicon-trash
