.row
  .col-sm-2
    %hr/
    %ul.nav.nav-stacked
      %li
        = link_to quick_codes_path do
          %i.glyphicon.glyphicon-list-alt
          MANAGE
      %li
        = link_to new_quick_code_path do
          %i.glyphicon.glyphicon-qrcode
          ADD CODE
      %li
        = link_to quick_codes_path(@quick_codes, format: "xls") do
          %i.glyphicon.glyphicon-export
          EXPORT XLS
      %li
        = link_to quick_codes_path(@quick_codes, format: "csv") do
          %i.glyphicon.glyphicon-export
          EXPORT CSV
  .col-sm-10
    = yield