!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'QRquick'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'QRquick'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/favicons'
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container
      .row
        - if user_signed_in?
          .col-sm-2
            %hr/
            %ul.nav.nav-stacked
              %li
                %a{:href => "javascript:;"}
                  %i.glyphicon.glyphicon-list-alt
                  MANAGE
              %li
                %a{:href => "javascript:;"}
                  %i.glyphicon.glyphicon-flash
                  ADD CODE
              %li
                %a{:href => "javascript:;"}
                  %i.glyphicon.glyphicon-link
                  EXPORT XLS
              %li
                %a{:href => "javascript:;"}
                  %i.glyphicon.glyphicon-list-alt
                  EXPORT CSV
              %li
                %a{:href => "javascript:;"}
                  %i.glyphicon.glyphicon-list-alt
                  DROPBOX
        .col-sm-10
          = yield
    = render 'layouts/footer' 
